# Virtual Environment
venv/

#migration folder
migrations/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Database
app.db

# IDE specific
.idea/

# MacOS
.DS_Store

# Additional ignores if needed in future...
