/* General styling */
:root {
    --purple-color: #8a2be2; /* Purple color */
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 600px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 3%;
    padding: 10px;
}

#residenceForm {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#residenceForm label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

#residenceForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#residenceForm button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--purple-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#residenceForm button:hover {
    background-color: #6a1fb9;
}

#goBackButton {
    padding: 10px 15px;
    background-color: var(--purple-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#goBackButton:hover {
    background-color: #6a1fb9;
}

h1 {
    color: var(--purple-color);
}
